<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Rating</th>
    <th>Genre</th>
    <th>Year</th>
    <th>Description</th>
    <th>Comments</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= Movie.find_by_sql('SELECT title 
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['title'] %></td>
    <td><%= Director.find_by_sql('SELECT name 
                                  FROM Directors INNER JOIN directors_movies ON directors.id = directors_movies.director_id 
                                  WHERE directors_movies.movie_id = ' + movie.id.to_s + '')[0]['name'] %></td>
    <td><%= Movie.find_by_sql('SELECT rating 
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['rating'] %></td>
       <td><%= Movie.find_by_sql('SELECT genre 
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['genre'] %></td>
       <td><%= Movie.find_by_sql('SELECT year
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['year'] %></td>
       <td><%= Movie.find_by_sql('SELECT description 
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['description'] %></td>
       <td><%= Movie.find_by_sql('SELECT comments 
                          FROM Movies 
                          WHERE movies.id = ' + movie.id.to_s + '')[0]['comments'] %></td>
    <td><%= Person.find_by_sql('SELECT name 
                                FROM People, Movies 
                                WHERE people.id = movies.person_id AND movies.id = ' + movie.id.to_s + '')[0]['name'] %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
