<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Year:</b>
  <%= @game.year %>
</p>

<p>
  <b>Genre:</b>
  <%= @game.genre %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Comments:</b>
  <%= @game.comments %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
