<%= form_for(@music) do |f|%>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid_7">
  <div class="field">
    <%= f.label :title, :class => "form_field" %><br />
    <%= f.text_field :title, :class => "test2" %>
  </div>
  <div class="field">
    <%= f.label :artist, :class => "form_field" %><br />
    <%= f.collection_select :artist_ids, @artists, :id, :name, :class => "test2" %>
  </div>

  <div class="field">
    <%= f.label :year, :class => "form_field" %><br />
    <%= f.number_field :year, :class => "test2" %>
  </div>

  <div class="field">
    <%= f.label "Rating (1 - 5)", :class => "form_field"%><br />
    <%= f.number_field :rating, :class => "test2" %>
  </div>
  <div class="field">
    <%= f.label :genre, :class => "form_field" %><br />
    <%= f.text_field :genre, :class => "test2" %>
  </div>
    <div class="field">
    <%= f.label :format, :class => "form_field" %><br />
    <%= f.text_field :format, :class => "test2" %>
  </div>
    <div class="field">
    <%= f.label :person, :class => "form_field" %><br />
    <%= f.collection_select :person_id, @people, :id, :name %>
  </div>
</div>
<div class="grid_8">
  <div class="field">
    <%= f.label :tracks, :class => "form_field" %><br />
    <%= f.text_area :tracks, :class => "text" %>
  </div>
    <div class="field">
    <%= f.label :comments, :class => "form_field" %><br />
    <%= f.text_area :comments, :class => "text lower" %>
  </div>
</div>

  <div class="actions submit">
    <%= f.submit %>
  </div>
    
<% end %>

